.productCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border: 3px solid #e5aeda88;
  border-radius: 32px;
  background-color: white;
  width: 350px;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.productImage {
  border-radius: 32px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 340px;
}

.productInfo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.productType {
  background-color: var(--color-lilac);
  padding: 4px 8px;
  color: var(--color-violet);
  border-radius: 24px;
}

.productName {
  font-family: var(--font-noodle);
  color: var(--color-darkPink);
  font-size: 28px;
  text-overflow: ellipsis;
}

.productDescription {
  font-size: 16px;
  color: #566563;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.productPrice {
  font-family: var(--font-noodle);
  color: var(--color-darkPink);
  font-size: 18px;
}
