.main {
  background-color: var(--color-lightPink);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 4px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
  gap: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.para {
  text-align: center;
  font-size: 18px;
  color: #566563;
}

.productContainer {
  display: flex;
  gap: 32px;
}

.exploreShopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 3px solid #e5aeda88;
  border-radius: 32px;
  background: linear-gradient(to right, #feebf6, #c9dff0);
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
  padding: 24px 64px;
  width: 60vw;
}

.exploreHeading {
  font-family: var(--font-noodle);
  font-size: 40px;
  line-height: 56px;
  color: var(--color-darkPink);
  text-align: center;
}

@media only screen and (max-width: 1280px) {
  .heading {
    text-align: center;
    font-size: 48px;
    line-height: 48px;
  }

  .para {
    font-size: 16px;
  }

  .productContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 64px 12px;
  }
  .heading {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
  }

  .para {
    font-size: 16px;
  }

  .productContainer {
    flex-direction: column;
  }

  .exploreShopContainer {
    padding: 24px;
  }

  .exploreHeading {
    font-size: 32px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    padding: 64px 24px;
    justify-content: center;
  }

  .heading {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .para {
    text-align: center;
    font-size: 14px;
  }

  .productContainer {
    flex-direction: column;
  }

  .exploreShopContainer {
    padding: 24px;
  }

  .exploreHeading {
    font-size: 28px;
    line-height: 30px;
  }
}
