.buttonContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 20px;
  font-size: 18px;
  color: white;
  background-color: var(--color-darkPink);
  border-radius: 20px;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buttonContainer:hover {
  transform: scale(1.05);
}

.buttonContainer:active {
  transform: scale(0.98);
}
