.main {
  background-color: var(--color-secondary);
  display: flex;
  padding: 64px 4px;
  justify-content: center;
}

.container {
  display: flex;
  gap: 16px;
  max-width: 1280px;
}

.cardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 52px 24px;
  border: 3px solid #e5aeda88;
  border-radius: 32px;
  background-color: white;
  width: 350px;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.cardHeading {
  font-family: var(--font-noodle);
  font-size: 24px;
  line-height: 32px;
  color: var(--color-darkPink);
}

.cardPara {
  text-align: center;
  font-size: 16px;
  color: #566563;
}
