* {
  margin: 0;
}

:root {
  --font-borel: "Borel", cursive;

  --color-primary: #e5aeda;
  --color-secondary: #c7ddef;
  --color-bgLight: #fffed7;
  --color-lilac: #e4c5ff;
  --color-surfaceBlack: #2d2d2d;
  --color-blue: #6699cb;
  --color-lightPink: #f3d1ee;
  --color-darkPink: #e83c91;
}
