* {
  margin: 0;
}

:root {
  --color-primary: #e5aeda;
  --color-secondary: #c7ddef;
  --color-bgLight: #fffed7;
  --color-lilac: #e4c5ff;
  --color-violet: #7132ca;
  --color-surfaceBlack: #2d2d2d;
  --color-blue: #6699cb;
  --color-lightPink: #ffe9ed;
  --color-darkPink: #e83c91;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heading {
  font-family: var(--font-noodle);
  font-size: 48px;
  line-height: 56px;
  color: var(--color-surfaceBlack);
  text-align: center;
}
