* {
  margin: 0;
}

:root {
  --font-borel: "Borel", cursive;

  --color-primary: #e5aeda;
  --color-secondary: #c7ddef;
  --color-bgLight: #fffed7;
  --color-lilac: #e4c5ff;
  --color-surfaceBlack: #2d2d2d;
  --color-blue: #6699cb;
  --color-lightPink: #f3d1ee;
  --color-darkPink: #e83c91;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heading {
  font-family: var(--font-lecker);
  font-size: 48px;
  line-height: 64px;
  color: var(--color-darkPink);
  text-align: center;
}
