.main {
  background-color: var(--color-lightPink);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 4px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
  gap: 24px;
}

.headingContainer {
  display: flex;
  width: 1280px;
  justify-content: space-between;
}

.cardContainer {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 24px;
  border: 3px solid #f0dbec88;
  border-radius: 32px;
  width: 300px;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.iconContainer {
  background-color: var(--color-darkPink);
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  color: #566563;
}
