.main {
  background-color: var(--color-lightPink);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 4px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  gap: 24px;
}

.headingContainer {
  display: flex;
  width: 1280px;
  justify-content: space-between;
}

.heading {
  text-align: start;
}

.cardContainer {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 24px;
  border: 5px solid #edabe188;
  border-radius: 32px;
  width: 300px;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.iconContainer {
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  color: #566563;
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
  padding: 40px;
  border: 5px solid #edabe188;
  border-radius: 32px;
  background-color: white;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.addProductContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
  padding: 40px;
  border: 5px solid #edabe188;
  border-radius: 32px;
  background-color: white;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.imageUploadLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 64px;
  background-color: var(--color-lightPink);
  color: var(--color-darkPink);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  transition: all 0.2s;
}

.imageUploadLabel:hover {
  background-color: var(--color-darkPink);
  color: white;
}

.oneRow {
  display: flex;
  gap: 16px;
}
.table {
  display: grid;
  grid-template-columns: 120px 200px 1fr 150px 150px;
  align-items: center;
  padding: 0 10px;
  gap: 36px;
}

.productImage {
  border-radius: 12px;
  width: 100px;
  object-fit: cover;
  object-position: bottom;
  height: 80px;
}

.productName {
  color: var(--color-primary);
  font-size: 18px;
}

.productType {
  background-color: var(--color-lilac);
  padding: 4px 8px;
  color: var(--color-violet);
  border-radius: 24px;
  width: fit-content;
}

.productPrice {
  font-size: 16px;
  color: var(--color-darkPink);
}

.action {
  background-color: var(--color-secondary);
  padding: 12px;
  border-radius: 18px;
}

.tableContent {
  display: grid;
  grid-template-columns: 120px 200px 1fr 150px 150px;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 36px;
}

.tableContent:hover {
  background-color: #fce4ec;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputLine {
  border: 3px solid #edabe188;
  border-radius: 12px;
  padding: 16px;
}

.inputLine:focus {
  border: 2px solid #b568a788;
  outline: none;
}

.inputTitle {
  font-size: 18px;
}
@media only screen and (max-width: 1280px) {
  .main {
    padding: 64px 12px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .headingContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .heading {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }

  .reverseButtons {
    flex-direction: row-reverse;
  }

  .cardContainer {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .productContainer {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
  }

  .addProductContainer {
    padding: 30px;
    align-items: center;
  }
  .table,
  .tableContent {
    grid-template-columns: 120px 200px 1fr 150px 150px;
    min-width: min-content;
  }

  .imageUploadLabel {
    padding: 20px 10px;
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 64px 12px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .headingContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .heading {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }

  .reverseButtons {
    flex-direction: row-reverse;
  }

  .cardContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .productContainer {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
  }

  .addProductContainer {
    padding: 20px 10px;
    align-items: center;
  }
  .table,
  .tableContent {
    grid-template-columns: 120px 200px 1fr 150px 150px;
    min-width: min-content;
  }

  .oneRow {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    padding: 64px 12px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .headingContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .heading {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .reverseButtons {
    flex-direction: row-reverse;
  }

  .cardContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .productContainer {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
  }

  .addProductContainer {
    padding: 20px 10px;
    align-items: center;
  }
  .table,
  .tableContent {
    grid-template-columns: 120px 200px 1fr 150px 150px;
    min-width: min-content;
  }

  .oneRow {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card {
    width: 250px;
  }
}

@media only screen and (max-width: 350px) {
  .main {
    padding: 64px 12px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .headingContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .para {
    text-align: center;
    font-size: 14px;
  }
  .reverseButtons {
    flex-direction: row-reverse;
  }

  .cardContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .productContainer {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
  }

  .addProductContainer {
    padding: 20px 10px;
    align-items: center;
  }
  .table,
  .tableContent {
    grid-template-columns: 120px 200px 1fr 150px 150px;
    min-width: min-content;
  }

  .oneRow {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card {
    width: 200px;
  }
}
