.main {
  background-color: var(--color-lightPink);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 4px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
  gap: 24px;
}

.headingContainer {
  display: flex;
  width: 1280px;
  justify-content: space-between;
}

.cardContainer {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 24px;
  border: 5px solid #edabe188;
  border-radius: 32px;
  width: 300px;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.iconContainer {
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  color: #566563;
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
  padding: 40px;
  border: 5px solid #edabe188;
  border-radius: 32px;
  background-color: white;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productImage {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 80px;
}

.productName {
  color: var(--color-primary);
  font-size: 18px;
}

.productType {
  background-color: var(--color-lilac);
  padding: 4px 8px;
  color: var(--color-violet);
  border-radius: 24px;
  width: fit-content;
}

.productPrice {
  font-size: 16px;
  color: var(--color-darkPink);
}

.action {
  background-color: var(--color-secondary);
  padding: 12px;
  border-radius: 18px;
}

.tableContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 10px;
}

.tableContent:hover {
  background-color: #fce4ec;
}
