.main {
  background-color: rgb(80, 13, 80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.navbarButtonsContainer {
  display: flex;
  gap: 32px;
}

.navbarButtons {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-sofia);
  font-weight: 700;
  color: var(--color-bgLight);
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
  padding: 10px 16px;
}

.Logo {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
