.main {
  background-color: var(--color-bgLight);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 4px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}

.introContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  max-width: 960px;
}

.headingPills {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 3px solid #e5aeda88;
  border-radius: 32px;
  width: fit-content;
  background-color: white;
  font-size: 18px;
  color: var(--color-darkPink);
}

.para {
  text-align: center;
  font-size: 18px;
  color: #566563;
  max-width: 768px;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  padding: 8px 0px;
}
