.main {
  background-color: var(--color-bgLight);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 64px 128px;
  position: relative;
}

.spiderverseImage {
  animation: bounce 0.6s ease-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
}

/* .container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;

  gap: 40px;
} */

.introContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  max-width: 50%;
  align-items: start;
}

.headingPills {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 3px solid #e5aeda88;
  border-radius: 32px;
  width: fit-content;
  background-color: white;
  font-size: 18px;
  color: var(--color-darkPink);
}

.para {
  text-align: center;
  font-size: 18px;
  color: #566563;
  max-width: 768px;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  padding: 8px 0px;
}

.cardRow {
  display: flex;
  gap: 16px;
}

.cardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 52px 24px;
  border: 3px solid #e5aeda88;
  border-radius: 32px;
  background-color: white;
  width: 350px;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.7);
}

.cardHeading {
  font-family: var(--font-noodle);
  font-size: 24px;
  line-height: 32px;
  color: var(--color-darkPink);
}

.cardPara {
  text-align: center;
  font-size: 16px;
  color: #566563;
}
