.main {
  background-color: var(--color-bgLight);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 4px;
}

.container {
  display: flex;
  flex-direction: column;
}

.introContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.headingPills {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 3px solid #e5aeda88;
  border-radius: 32px;
  width: fit-content;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: var(--color-darkPink);
}
